BasedOnStyle: LLVM
IndentWidth: 4
PointerAlignment: Left


SpaceBeforeParens: Custom
SpaceBeforeParensOptions:
  AfterControlStatements: false
  AfterFunctionDefinitionName: false

AllowShortIfStatementsOnASingleLine:  AllIfsAndElse

ColumnLimit: 200